<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org">
<head>
<link th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
<link rel="icon" th:href="@{/images/favicon.ico}" type="image/x-icon" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>后台管理</title>
</head>
<body>
	<div class="login_box">
		<div class="login_l_img">
			<img th:src="@{/images/login-img.png}" />
		</div>
		<div class="login">
			<div class="login_logo">
				<a href="#"><img th:src="@{/images/login_logo.png}" /></a>
			</div>
			<div class="login_name">
				<p>后台管理系统</p>
			</div>
			<form action="" method="post">
				<h4 th:text="${msg}"></h4>
				<input name="username" type="text" value="用户名" /> <input
					name="password" type="password" id="password" /> <input value="登录"
					style="width:100%;" type="submit">
			</form>
		</div>
		<div class="copyright">某某有限公司 版权所有©2016-2018 技术支持电话：000-00000000</div>
	</div>
</body>
</html>
