<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="http://www.thymeleaf.org"
	xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head th:replace="template :: common_header(~{::title},~{},~{::script})">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>资源管理</title>
<script shiro:hasPermission="resource:add" type="text/javascript">
	$.canAdd = true;
</script>
<script shiro:hasPermission="resource:edit" type="text/javascript">
	$.canEdit = true;
</script>
<script shiro:hasPermission="resource:delete" type="text/javascript">
	$.canDelete = true;
</script>
<script th:inline="javascript">
	/*<![CDATA[*/
	var treeGrid;
	$(function() {
		treeGrid = $('#treeGrid').treegrid({
			url : /*[[@{/sysResource/treeGrid}]]*/ '',
			idField : 'id',
			treeField : 'name',
			parentField : 'pid',
			fit : true,
			fitColumns : false,
			border : false,
			frozenColumns : [ [ {
				title : '编号',
				field : 'id',
				width : 150,
				hidden : true
			} ] ],
			columns : [ [ {
				field : 'name',
				title : '资源名称',
				width : 200
			}, {
				field : 'url',
				title : '资源路径',
				width : 230
			}, {
				field : 'sysResourceTypeId',
				title : '资源类型ID',
				width : 150,
				hidden : true
			}, {
				field : 'typename',
				title : '资源类型',
				width : 80,
				formatter : function(value, row, index) {
					if (row.sysResourceTypeId == 0) {
						return "菜单";
					} else {
						return "功能";
					}
				}
			}, {
				field : 'seq',
				title : '排序',
				width : 40
			}, {
				field : 'remark',
				title : '备注',
				width : 150
			}, {
				field : 'action',
				title : '操作',
				width : 50,
				formatter : function(value, row, index) {
					var str = '';
					if ($.canEdit) {
						str += $.formatString('<img onclick="editFun(\'{0}\');" src="{1}" title="编辑"/>', row.id, /*[[@{/css/images/extjs_icons/pencil.png}]]*/ '');
					}
					str += '&nbsp;';
					
					if ($.canDelete) {
						str += $.formatString('<img onclick="deleteFun(\'{0}\');" src="{1}" title="删除"/>', row.id, /*[[@{/css/images/extjs_icons/cancel.png}]]*/ '');
					}
					return str;
				}
			} ] ],
			toolbar : '#toolbar',
			onContextMenu : function(e, row) {
				e.preventDefault();
				$(this).treegrid('unselectAll');
				$(this).treegrid('select', row.id);
				$('#menu').menu('show', {
					left : e.pageX,
					top : e.pageY
				});
			},
			onLoadSuccess : function() {
				parent.$.messager.progress('close');
				$(this).treegrid('tooltip');
			}
		});
	});

	function deleteFun(id) {
		if (id != undefined) {
			treeGrid.treegrid('select', id);
		}
		var node = treeGrid.treegrid('getSelected');
		if (node) {
			parent.$.messager.confirm('询问', '您是否要删除当前资源？', function(b) {
				if (b) {
					parent.$.messager.progress({
						title : '提示',
						text : '数据处理中，请稍后....'
					});
					$.post( /*[[@{/sysResource/delete}]]*/ '', {
						id : node.id
					}, function(result) {
						if (result.success) {
							parent.$.messager.alert('提示', result.msg, 'info');
							treeGrid.treegrid('reload');
							parent.layout_west_tree.tree('reload');
						}
						parent.$.messager.progress('close');
					}, 'JSON');
				}
			});
		}
	}

	function editFun(id) {
		if (id != undefined) {
			treeGrid.treegrid('select', id);
		}
		var node = treeGrid.treegrid('getSelected');
		if (node) {
			parent.$.modalDialog({
				title : '编辑资源',
				width : 500,
				height : 300,
				href : /*[[@{/sysResource/editPage}]]*/ '',
				queryParams : {
					id : node.id
				},
				buttons : [ {
					text : '保存',
					handler : function() {
						parent.$.modalDialog.openner_treeGrid = treeGrid; //因为添加成功之后，需要刷新这个treeGrid，所以先预定义好
						var f = parent.$.modalDialog.handler.find('#form');
						f.submit();
					}
				} ]
			});
		}
	}
	function getAllFun() {
		parent.$.messager.progress({
			title : '提示',
			text : '数据处理中，请稍后....'
		});
		$.post( /*[[@{/sysResource/getAllSysResources}]]*/ '', function(result) {
			parent.$.messager.progress('close');
			if (result.success) {
				treeGrid.treegrid('reload');
			} else {
				parent.$.messager.alert('错误', result.msg);
			}
		}, 'JSON')
	}
		function addFun() {
		parent.$.modalDialog({
			title : '添加资源',
			width : 500,
			height : 300,
			href : /*[[@{/sysResource/addPage}]]*/'',
			buttons : [ {
				text : '保存',
				handler : function() {
					parent.$.modalDialog.openner_treeGrid = treeGrid; //因为添加成功之后，需要刷新这个treeGrid，所以先预定义好
					var f = parent.$.modalDialog.handler.find('#form');
					f.submit();
				}
			} ]
		});
	}

	function redo() {
		var node = treeGrid.treegrid('getSelected');
		if (node) {
			treeGrid.treegrid('expandAll', node.id);
		} else {
			treeGrid.treegrid('expandAll');
		}
	}

	function undo() {
		var node = treeGrid.treegrid('getSelected');
		if (node) {
			treeGrid.treegrid('collapseAll', node.id);
		} else {
			treeGrid.treegrid('collapseAll');
		}
	}
	/*]]>*/
</script>
</head>
<body>
	<div class="easyui-layout" data-options="fit:true,border:false">
		<div data-options="region:'center',border:false" title=""
			style="overflow: hidden;">
			<table id="treeGrid"></table>
		</div>
	</div>
	<div id="toolbar" style="display: none;">
		<a shiro:hasPermission="resource:add" onclick="addFun();"
			href="javascript:void(0);" class="easyui-linkbutton"
			data-options="plain:true,iconCls:'pencil_add'">添加</a> <a
			shiro:hasPermission="resource:getAllSysResources"
			onclick="getAllFun();" href="javascript:void(0);"
			class="easyui-linkbutton"
			data-options="plain:true,iconCls:'pencil_add'">收集权限</a> <a
			onclick="redo();" href="javascript:void(0);"
			class="easyui-linkbutton"
			data-options="plain:true,iconCls:'resultset_next'">展开</a> <a
			onclick="undo();" href="javascript:void(0);"
			class="easyui-linkbutton"
			data-options="plain:true,iconCls:'resultset_previous'">折叠</a> <a
			onclick="treeGrid.treegrid('reload');" href="javascript:void(0);"
			class="easyui-linkbutton"
			data-options="plain:true,iconCls:'transmit'">刷新</a>
	</div>

	<div id="menu" class="easyui-menu" style="width: 120px; display: none;">

		<div shiro:hasPermission="resource:delete" onclick="deleteFun();"
			data-options="iconCls:'pencil_delete'">删除</div>

		<div shiro:hasPermission="resource:edit" onclick="editFun();"
			data-options="iconCls:'pencil'">编辑</div>

	</div>
</body>
</html>